.about-page {
  height: 70vh;
}
.about-page h1 {
  text-align: center;
  padding: 1em 0;
}
.about-page a {
  font-weight: 800;
}
.about-text {
  margin: 0 auto;
  max-width: 720px;
}

@media screen and (max-width: 768px) {
  .about-text {
    padding: 1em;
  }
}
