.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  height: 60px;
  width: 100%;
  margin-bottom: 1em;
  border-top: 1px solid #fff;
  padding-top: 0.5em;
  box-shadow: 0px -3px 0px 0px rgba(255, 255, 255, 0.2);
}

.footer-content a {
  font-weight: 800;
}

.social-links {
  margin: 0.7em 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
